## Long Run Growth
This notebook will look at the long run growth of nations, graphing them, then applying economic concepts to the data to draw interesting conclusions.

First, we import all of the required tools to run our code.

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import numpy as np
from collections import namedtuple

I used the [Maddison Historical Statistics](https://www.rug.nl/ggdc/historicaldevelopment/maddison/)

In [8]:
data = pd.read_excel("mpd2020.xlsx" , sheet_name = "Full data")
data.head()

  countrycode      country  year   gdppc     pop
0         AFG  Afghanistan  1820     NaN  3280.0
1         AFG  Afghanistan  1870     NaN  4207.0
2         AFG  Afghanistan  1913     NaN  5730.0
3         AFG  Afghanistan  1950  1156.0  8150.0
4         AFG  Afghanistan  1951  1170.0  8284.0

In [16]:
countries = data.country.unique()
print("There are", len(countries), "countries in the dataset.")
countries

There are 169 countries in the dataset.

array(['Afghanistan', 'Angola', 'Albania', 'United Arab Emirates',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bosnia and Herzegovina', 'Belarus',
       'Bolivia (Plurinational State of)', 'Brazil', 'Barbados',
       'Botswana', 'Central African Republic', 'Canada', 'Switzerland',
       'Chile', 'China', "Côte d'Ivoire", 'Cameroon', 'D.R. of the Congo',
       'Congo', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Czechoslovakia', 'Cuba', 'Cyprus', 'Czech Republic', 'Germany',
       'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria',
       'Ecuador', 'Egypt', 'Spain', 'Estonia', 'Ethiopia', 'Finland',
       'France', 'Gabon', 'United Kingdom', 'Georgia', 'Ghana', 'Guinea',
       'Gambia', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece',
       'Guatemala', 'China, Hong Kong SAR', 'Honduras', 'Croatia',
       'Haiti', 'Hungary', 'Indonesia', 'India', 'Ireland',
       'Iran (Islamic Republic of)', 'Iraq', 'Iceland', 'Israel', 'Italy',
       'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyzstan',
       'Cambodia', 'Republic of Korea', 'Kuwait', "Lao People's DR",
       'Lebanon', 'Liberia', 'Libya', 'Saint Lucia', 'Sri Lanka',
       'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia', 'Morocco',
       'Republic of Moldova', 'Madagascar', 'Mexico', 'TFYR of Macedonia',
       'Mali', 'Malta', 'Myanmar', 'Montenegro', 'Mongolia', 'Mozambique',
       'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'Namibia',
       'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal',
       'New Zealand', 'Oman', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Poland', 'Puerto Rico', 'D.P.R. of Korea', 'Portugal', 'Paraguay',
       'State of Palestine', 'Qatar', 'Romania', 'Russian Federation',
       'Rwanda', 'Saudi Arabia', 'Sudan (Former)', 'Senegal', 'Singapore',
       'Sierra Leone', 'El Salvador', 'Serbia', 'Sao Tome and Principe',
       'Former USSR', 'Slovakia', 'Slovenia', 'Sweden', 'Swaziland',
       'Seychelles', 'Syrian Arab Republic', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Taiwan, Province of China',
       'U.R. of Tanzania: Mainland', 'Uganda', 'Ukraine', 'Uruguay',
       'United States', 'Uzbekistan',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Former Yugoslavia', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [14]:
country_years = []
for country in countries:
    cy_data = data[data.country == country]['year']
    ymin, ymax = cy_data.min(), cy_data.max()
    country_years.append((country, ymin, ymax))
country_years = pd.DataFrame(country_years,
                    columns=['country', 'min_year', 'max_year']).set_index('country')
country_years.head()

                      min_year  max_year
country
Afghanistan               1820      2018
Angola                    1950      2018
Albania                      1      2018
United Arab Emirates      1950      2018
Argentina                 1800      2018

In [17]:
code_to_name = data[
    ['countrycode', 'country']].drop_duplicates().reset_index(drop=True).set_index(['countrycode'])
gdp_pc = data.set_index(['countrycode', 'year'])['gdppc']
gdp_pc = gdp_pc.unstack('countrycode')
gdp_pc.tail()

countrycode,AFG,AGO,ALB,ARE,ARG,ARM,AUS,AUT,AZE,BDI,...,URY,USA,UZB,VEN,VNM,YEM,YUG,ZAF,ZMB,ZWE
year,,,,,,,,,,,,,,,,,,,,,
2014,2022.0000,8673.0000,9808.0000,72601.0000,19183.0000,9735.0000,47867.0000,41338.0000,17439.0000,748.0000,...,19160.0000,51664.0000,9085.0000,20317.0000,5455.0000,4054.0000,14627.0000,12242.0000,3478.0000,1594.0000
2015,1928.0000,8689.0000,10032.0000,74746.0000,19502.0000,10042.0000,48357.0000,41294.0000,17460.0000,694.0000,...,19244.0000,52591.0000,9720.0000,18802.0000,5763.0000,2844.0000,14971.0000,12246.0000,3478.0000,1560.0000
2016,1929.0000,8453.0000,10342.0000,75876.0000,18875.0000,10080.0000,48845.0000,41445.0000,16645.0000,665.0000,...,19468.0000,53015.0000,10381.0000,15219.0000,6062.0000,2506.0000,15416.0000,12139.0000,3479.0000,1534.0000
2017,2014.7453,8146.4354,10702.1201,76643.4984,19200.9061,10859.3783,49265.6135,42177.3706,16522.3072,671.3169,...,19918.1361,54007.7698,10743.8666,12879.1350,6422.0865,2321.9239,15960.8432,12189.3579,3497.5818,1582.3662
2018,1934.5550,7771.4418,11104.1665,76397.8181,18556.3831,11454.4251,49830.7993,42988.0709,16628.0553,651.3589,...,20185.8360,55334.7394,11220.3702,10709.9506,6814.1423,2284.8899,16558.3123,12165.7948,3534.0337,1611.4052